@import url(https://fonts.googleapis.com/css?family=Montserrat);

html{
    width: 100%;
    height: 100%;
}

body{
    font-family: 'Montserrat', sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    background: #f7f5f4;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}


.container{
    margin: 0 auto;
    vertical-align: middle;
    padding: 0;
    width: 100%;
    height: auto;
}

.wrapper{
    width: 70%;
    margin: 0 auto;
    vertical-align: middle;
    margin-top: 40px; 
    margin-bottom: 50px
}

/*------------------------------------start of opening-segment------------------------------------------*/

/*opening-segment structure*/
#opening-segment{
    margin-top: 60px;
    margin-bottom: 60px;
    background: none;
    box-shadow: none;
}

/*opening-segment buttons*/
#opening-segment .btn{
    background:none;
    border: 2px solid #332f2c;
    color:#332f2c;
    font-weight: bold;
    font-size: 13px;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 20px;
    border-radius: 10px;
}

/*opening-segment button hover*/
#opening-segment .btn:hover{
    border: 2px solid #e84845; color:#e84845; 
}

/*opening-segment "Josie Chen" logo (image)*/
#opening-segment img{
    margin-top: 40px;
    margin-bottom: -20px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

/*opening-segment job-title text (h4)*/
#opening-segment h4{
    color: #332f2c; font-weight: bold; text-align: center;
}
/*------------------------------------end of opening-segment------------------------------------------*/


/*------------------------------------start of about-segment------------------------------------------*/

/*about-segment header (h3)*/
#about-segment h3{
    color: black; margin-bottom: 30px;
}

/*about-segment text (a)*/
#about-segment a{
    text-decoration: none;
    color: #2f3c4c;
}

/*skills Progress Bar */
.progress{
    background: #e0e0e0;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

.progress p{
    text-align: left;
    color: white;
    font-weight: bold;
    margin-left: 10px;
}

.progress-bar{
    background: #2c2d2d;
    border-radius: 0;
    border: none;
}

/*------------------------------------end of about-segment------------------------------------------*/



#projects h3{
    color:black;
    margin-bottom: 30px;
}

#projects img{
    margin-bottom: 30px;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
    max-height: 400px;
    margin: 0 auto;
}

#projects .caption{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    width: 75%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

#projects .text{
    color: black;
    font-size: 11px;
    font-weight: bold;
}

#projects .img-container:hover img{
    opacity: .2;
}

#projects .img-container:hover .caption{
    opacity: 1;
}

#projects .img-container{
        position: relative;
        width: 100%;
}

#projects ul li{
    list-style: none;
}

/* Art Section */

#art{
    background: #f7f5f4;
}

#art a{
    text-decoration: none;
    color: #c65151;
}

#art h3{
    color:#333131;
    margin-bottom: 30px;
}

#art a:hover{
    color:#333131;
}

#art img{
    max-height: 300px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    margin-bottom: 30px;
    box-shadow: 3px 3px 5px #d1c8c8;
}


#contact{
    background: #f7f5f4;
}

#contact .row{
    display: flex;
    margin: auto; 
}

#contact .row .col{
    display: flex;
    margin: auto;
}

#contact h3{
    color: #332f2c;
    margin-bottom: 30px;
    text-align: center;
}

#contact p{
    text-align: center;
}

#contact .fa{
    text-align: center;
    position: absolute;
    font-size: 30px;
    color: black;
    text-decoration: none;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}


#contact .caption{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    text-align: center;
}

#contact .text{
    color: black;
    font-size: 11px;
    font-weight: bold;
}

#contact .row:hover .fa{
    opacity: 0.2;
    cursor: pointer;
}

#contact .row:hover .caption{
    opacity: 1;
    cursor: pointer;
}