@import url(https://fonts.googleapis.com/css?family=Montserrat);


/*------------------------------------General Styles------------------------------------------*/

html{
    width: 100%;
    height: 100%;
}

body{
    font-family: 'Montserrat', sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    background: #f7f5f4;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}


.container{
    margin: 0 auto;
    vertical-align: middle;
    padding: 0;
    width: 100%;
    height: auto;
}

.wrapper{
    width: 70%;
    margin: 0 auto;
    vertical-align: middle;
    margin-top: 50px; 
    margin-bottom: 50px
}

h3{color: black; margin-bottom: 30px;}

/*------------------------------------start of opening-segment------------------------------------------*/

/*opening-segment structure*/
#opening-segment{
    margin-top: 60px;
    margin-bottom: 50px;
    background: none;
    box-shadow: none;
}

#opening-segment .btn{
    border: 2px solid #282828;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
    background-color: transparent;
    width: 90px;
}

#opening-segment .btn{
    text-decoration: none;
    font-weight: bold;
    color: #282828;
}

#opening-segment .btn:hover{
    color:#e84845; 
    border: 2px solid #e84845
}

/*opening-segment button hover*/
#opening-segment .btn:hover{
    border: 2px solid #e84845; color:#e84845; 
}

/*opening-segment "Josie Chen" logo (image)*/
#opening-segment #profile-picture, #name-logo{
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

/*opening-segment job-title text (h4)*/
#opening-segment h4{
    color: #332f2c; font-weight: bold; text-align: center;
}

.modal-content{
    background-color: #e8e8e8;
    width: 80%;
    margin-right: auto; 
    margin-left: auto;
}

#the-modal p{
    text-align: left;
    margin-top: 25px;
}

#the-modal .row{
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
    margin-bottom: 50px;
}
/*------------------------------------start of about-segment------------------------------------------*/


/*about-segment text (a)*/
#about-segment a{
    text-decoration: none;
    color: #2f3c4c;
}

/*skills Progress Bar */
.progress{
    background: #e0e0e0;
    border: none;
    border-radius: 0;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.04);
}

.progress:hover{
    position: relative; 
    top: -3px;
}

.progress p{
    text-align: left;
    color: white;
    font-weight: bold;
    margin-left: 10px;
}

.progress-bar{
    background: #2c2d2d;
    border-radius: 0;
    border: none;
}


/*----------------------------------start of web-design-segment-------------------------------------*/

#web-design-segment{
    background-color: #eae9e8;
}
#web-design-segment a{
    text-decoration: none;
    color: black;
}

#web-design-segment h4{
    text-align: left;
}

#web-design-segment a:hover{
    text-decoration: none;
    color: white;
}

#web-design-segment img{
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
}

#web-design-segment img:hover{
    opacity: 0.7;
    cursor: pointer;
    position: relative; 
    top: -3px;
}


/*------------------------------------start of art-segment------------------------------------------*/

#art-segment a{
    text-decoration: none;
    color: #c65151;
}

#art-segment a:hover{
    color:#333131;
}

#art-segment img{
    max-height: 290px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
    position: relative;
}

#art-segment .caption{
    width: 200px;
    height: 200px;
    transition: .5s ease;
    position: absolute;;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    font-size: 20px;
} 

#art-segment p{
    color: #282828;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#art-segment .img-responsive:hover{
    opacity: 0.2;
}

#art-segment .img-responsive:hover .caption{
    opacity: 1;
}

/*--------------------------------start of experience-segment-------------------------------------*/

#experience-segment{
    background-color: #eae9e8;
}

#experience-segment .row{
    margin-bottom: 50px;
}

#experience-segment .col-md-3{
    border-left: 2px solid #b5afad;
}

#experience-segment h4{
    color: #282828;
    text-align: left;
}

#experience-segment h5{
    color: #666363;
}

#experience-segment a{
    text-decoration: none;
    color: #c65151;
    margin-bottom: 30px;
}

#experience-segment a:hover{
    text-decoration: none;
    color: #282828;
}


/*------------------------------------start of contact-segment------------------------------------------*/


#contact{
    background: #f7f5f4;
    margin-bottom: 30px;
}
#contact .row{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#contact img{
    max-height: 90px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
    position: relative;
}

#contact .caption{
    transition: .5s ease;
    color: black;
    text-align: center;
    font-size: 1em;
} 

#contact .img-responsive:hover{
    opacity: 0.2;
    position: relative; 
    top: -3px;
}
#contact .img-responsive:hover .caption{
    opacity: 1;
}

/*------------------------------------start of bottom-segment------------------------------------------*/

#bottom-segment{
    background: #eae9e8;
}

#bottom-segment h5{
    text-align: center; 
}
#bottom-segment img{
    max-width: 180px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: -20px;
}
